.jumbotron{
    background-color: #5f5ffc;
}

.container{
    background-color: white;
}

p{
    text-indent: 40px;
}

#id_title{
    color: white;
}

.card-header{
    background-color: #5f5ffc; 
}

.btn-link{
    color: white;
    text-decoration: none;
}

.btn-link:hover{
    color: white;
}