p{
    text-indent: 40px;
}

footer{
    background-color: #5f5ffc;
    display: block; 
    margin-top: 30px;
}

.jumbotron{
    background-color: #5f5ffc;
    padding: 10px 0px 10px 10px;
}

.container{
    background-color: white;
}

#id_title{
    color: white;
}

.card-header{
    background-color: #5f5ffc; 
}

.card-header-sm{
    background-color: #5f5ffc; 
}

.btn-link{
    color: white;
    text-decoration: none;
}

.btn-link:hover{
    color: white;
}

#index_header{
    color: white;
    font-size: 20px;
}

#section1{
    margin-top: 30px;
    padding-top: 30px;
}
#section2{
    margin-top: 30px;
    padding-top: 30px;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: #DDDDDD;
}

#header_block{
    border: #5f5ffc solid 2px;
    background-color: white;
    padding: 0;
}

#nav_block{
    border-radius: 0;
}



@media (max-width: 992px){
    #foto1{
        margin-top: 30px;
        border: #5f5ffc solid 2px;
    }
    #foto2{
        margin-top: 30px;
        border: #5f5ffc solid 2px;
    }
}

@media (max-width: 575px){
    #nav_index{
        text-align: center;
    }
}
